{% extends 'admin/change_form.html' %}
{% block extrahead %}
    {{ block.super }}
    <style>
        .submit-row p.acceptlink-box {
            float: left;
            margin: 0;
            order: 3
        }

        .submit-row a.acceptlink {
            display: block;
            background: #4c8b1e;
            border-radius: 4px;
            padding: 10px 15px;
            height: 15px;
            line-height: 15px;
            color: #fff;
            text-decoration: none;
        }

        @media (min-width: 767px) {
            .submit-row a.acceptlink {
                margin-left: 8px;
            }
        }

        .submit-row a.acceptlink:hover, .submit-row a.acceptlink:focus, .submit-row a.acceptlink:active {
            background: #2f7000;
        }
    </style>
{% endblock %}
